<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.tech.EPL.metro.mapper.MetroMapper">
	<select id="stationInfo" 
	resultType="com.tech.EPL.metro.dto.StationInfoDto">
		SELECT
			*
		FROM
			METRO_INFO
		WHERE
			LINE = #{stationRoute}
		AND
			STATIONNAME = #{stationName}
	</select>
	
	<select id="stationNameHistory" 
	resultType="com.tech.EPL.metro.dto.StationNameHistoryDto">
		SELECT
			*
		FROM
			METRO_NAMEHISTORY
		WHERE
			STATIONNAME = #{stationName}
	</select>
	
	<select id="stationAmenities" 
	resultType="com.tech.EPL.metro.dto.StationAmenitiesDto">
		SELECT
			*
		FROM
			METRO_AMENITIES
		WHERE
			STATIONID = #{stationId}
	</select>
	
	<select id="stationHelpMap" 
	resultType="com.tech.EPL.metro.dto.StationHelpMapDto">
		SELECT
			IMAGE
		FROM
			METRO_HELPMAP
		WHERE
			LINE = #{stationRoute}
		AND
			STATIONNAME = #{stationName}
	</select>
	
	<select id="stationCongestion" 
	resultType="com.tech.EPL.metro.dto.StationCongestionDto">
		SELECT
			*
		FROM
			METRO_CONGESTION
		WHERE
			LINE = #{stationRoute}
		AND
			STATION = #{stationName}
	</select>
	
	<select id="stationAccident" 
	resultType="com.tech.EPL.metro.dto.StationAccidentDto">
		SELECT
			*
		FROM
			METRO_ACCIDENT
		ORDER BY YEAR DESC
	</select>
	
	<select id="stationCrime" 
	resultType="com.tech.EPL.metro.dto.StationCrimeDto">
		SELECT
			*
		FROM
			METRO_CRIME
		ORDER BY YEAR DESC
	</select>
	
	<select id="stationFindXY" 
	resultType="com.tech.EPL.metro.dto.StationFindXYDto">
		SELECT
			X, Y
		FROM
			METRO_STATIONXYCODE
		WHERE
			STATION = #{station}
		LIMIT 1
	</select>
	
	
	

</mapper>