<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.tech.EPL.realty.mapper.RealtyAvgMapper">
	
<!-- 	<insert id="insertAvgForBuyingByGuName" parameterType="String"> -->
<!-- 		INSERT INTO EPL_SEOUL.REALTY_BUYING_AVG -->
<!-- 			(CGG_NM, STDG_NM, RCPT_YR, BLDG_USG, THING_AMT, COUNT_ALL) -->
<!-- 		SELECT  -->
<!-- 		    CGG_NM,  -->
<!-- 		    STDG_NM,  -->
<!-- 		    RCPT_YR,  -->
<!-- 		    BLDG_USG,  -->
<!-- 		    AVG(THING_AMT),  -->
<!-- 		    COUNT(*) -->
<!-- 		FROM  -->
<!-- 		    EPL_SEOUL.REALTY_BUYING -->
<!-- 		WHERE  -->
<!-- 		    CGG_NM = #{guName} -->
<!-- 		    AND BLDG_USG = #{buildingUse} -->
<!-- 		GROUP BY  -->
<!-- 		    CGG_NM, STDG_NM, RCPT_YR, BLDG_USG -->
<!-- 	</insert> -->
<!-- 	<insert id="insertAvgForRentByGuName" parameterType="String"> -->
<!-- 		INSERT INTO EPL_SEOUL.REALTY_RENT_AVG -->
<!-- 			(CGG_NM, STDG_NM, RCPT_YR, BLDG_USG, GRFE, RTFE, RENT_SE, COUNT_ALL) -->
<!-- 		SELECT  -->
<!-- 		    CGG_NM,  -->
<!-- 		    STDG_NM,  -->
<!-- 		    RCPT_YR,  -->
<!-- 		    BLDG_USG,  -->
<!-- 		    AVG(GRFE),  -->
<!-- 		    AVG(RTFE),  -->
<!-- 		    RENT_SE,  -->
<!-- 		    COUNT(*) -->
<!-- 		FROM  -->
<!-- 		    EPL_SEOUL.REALTY_RENT -->
<!-- 		WHERE  -->
<!-- 		    CGG_NM = #{guName} -->
<!-- 		    AND BLDG_USG = #{buildingUse} -->
<!-- 		    AND RENT_SE = '월세' -->
<!-- 		GROUP BY  -->
<!-- 		    CGG_NM, STDG_NM, RCPT_YR, BLDG_USG -->
<!-- 	</insert> -->
<!-- 	<insert id="insertAvgForJeonseByGuName" parameterType="String"> -->
<!-- 		INSERT INTO EPL_SEOUL.REALTY_JEONSE_AVG -->
<!-- 			(CGG_NM, STDG_NM, RCPT_YR, BLDG_USG, GRFE, RENT_SE, COUNT_ALL) -->
<!-- 		SELECT  -->
<!-- 		    CGG_NM,  -->
<!-- 		    STDG_NM,  -->
<!-- 		    RCPT_YR,  -->
<!-- 		    BLDG_USG,  -->
<!-- 		    AVG(GRFE),  -->
<!-- 		    RENT_SE,  -->
<!-- 		    COUNT(*) -->
<!-- 		FROM  -->
<!-- 		    EPL_SEOUL.REALTY_RENT -->
<!-- 		WHERE  -->
<!-- 		    CGG_NM = #{guName} -->
<!-- 		    AND BLDG_USG = #{buildingUse} -->
<!-- 		    AND RENT_SE = '전세' -->
<!-- 		GROUP BY  -->
<!-- 		    CGG_NM, STDG_NM, RCPT_YR, BLDG_USG -->
<!-- 	</insert>	 -->
	
	<!--       -->
	<!--       -->
	<!--       -->
	
	<insert id="insertBuyingMaxMinAvg">
		INSERT INTO EPL_SEOUL.REALTY_BUYING_AVG
		(CGG_NM, STDG_NM, RCPT_YR, BLDG_USG, MAX_THING_AMT, MIN_THING_AMT, AVG_THING_AMT, COUNT_ALL)
		SELECT 
		    CGG_NM, 
		    STDG_NM, 
		    RCPT_YR, 
		    BLDG_USG, 
		    MAX(THING_AMT),
		    MIN(THING_AMT),
		    AVG(THING_AMT),
		    COUNT(*)
		FROM 
		    EPL_SEOUL.REALTY_BUYING
		WHERE 
		    CGG_NM = #{guName}
		    AND BLDG_USG = #{buildingUse}
		GROUP BY 
		    CGG_NM, STDG_NM, RCPT_YR, BLDG_USG
	</insert>
	<insert id="insertRentMaxMinAvg">
		INSERT INTO EPL_SEOUL.REALTY_RENT_AVG
		(CGG_NM, STDG_NM, RCPT_YR, BLDG_USG, RENT_SE, 
		MAX_GRFE, MIN_GRFE, AVG_GRFE, MAX_RTFE, MIN_RTFE, AVG_RTFE, COUNT_ALL)
		SELECT 
		    CGG_NM, 
		    STDG_NM, 
		    RCPT_YR, 
		    BLDG_USG, 
		    RENT_SE,
   		    MAX(GRFE), 
   		    MIN(GRFE), 
		    AVG(GRFE),
		    MAX(RTFE), 
		    MIN(RTFE),
		    AVG(RTFE),
		    COUNT(*)
		FROM 
		    EPL_SEOUL.REALTY_RENT
		WHERE 
		    CGG_NM = #{guName}
		    AND BLDG_USG = #{buildingUse}
		    AND RENT_SE = '월세'
		GROUP BY 
		    CGG_NM, STDG_NM, RCPT_YR, BLDG_USG
	</insert>
	<insert id="insertJeonseMaxMinAvg">
		INSERT INTO EPL_SEOUL.REALTY_JEONSE_AVG
		(CGG_NM, STDG_NM, RCPT_YR, BLDG_USG, RENT_SE, 
		MAX_GRFE, MIN_GRFE, AVG_GRFE, COUNT_ALL)
		SELECT 
		    CGG_NM, 
		    STDG_NM, 
		    RCPT_YR, 
		    BLDG_USG, 
		    RENT_SE, 
   		    MAX(GRFE), 
   		    MIN(GRFE),
   		    AVG(GRFE),
		    COUNT(*)
		FROM 
		    EPL_SEOUL.REALTY_RENT
		WHERE 
		    CGG_NM = #{guName}
		    AND BLDG_USG = #{buildingUse}
		    AND RENT_SE = '전세'
		GROUP BY 
		    CGG_NM, STDG_NM, RCPT_YR, BLDG_USG
	</insert>
	<update id="rentYearUpdate" parameterType="String">
		UPDATE EPL_SEOUL.REALTY_RENT_AVG
		SET RCPT_YR = #{changeYear}
		WHERE RCPT_YR = #{originalYear};
	</update>
	<update id="jeonseYearUpdate" parameterType="String">
		UPDATE EPL_SEOUL.REALTY_JEONSE_AVG
		SET RCPT_YR = #{changeYear}
		WHERE RCPT_YR = #{originalYear};
	</update>
</mapper>