<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.tech.EPL.realty.mapper.RealtyYearsMapper">

	<select id="getYearsBuyingApt" resultType="com.tech.EPL.realty.dto.YearsStatGuBuying">
		SELECT 
			* 
		FROM 
			EPL_SEOUL.REALTY_BUYING_AVG
		WHERE 
			BLDG_USG = '아파트'
		AND RCPT_YR > '2010'
		GROUP BY 
			RCPT_YR, CGG_NM
		ORDER BY 
			CGG_NM, RCPT_YR, BLDG_USG
	</select>
	<select id="getYearsBuyingSingle" resultType="com.tech.EPL.realty.dto.YearsStatGuBuying">
		SELECT 
			* 
		FROM 
			EPL_SEOUL.REALTY_BUYING_AVG
		WHERE 
			BLDG_USG = '단독다가구'
		AND RCPT_YR > '2010'
		GROUP BY 
			RCPT_YR, CGG_NM
		ORDER BY 
			CGG_NM, RCPT_YR, BLDG_USG
	</select>
	<select id="getYearsBuyingMulti" resultType="com.tech.EPL.realty.dto.YearsStatGuBuying">
		SELECT 
			* 
		FROM 
			EPL_SEOUL.REALTY_BUYING_AVG
		WHERE 
			BLDG_USG = '연립다세대'
		AND RCPT_YR > '2010'
		GROUP BY 
			RCPT_YR, CGG_NM
		ORDER BY 
			CGG_NM, RCPT_YR, BLDG_USG
	</select>
	<select id="getYearsBuyingOffice" resultType="com.tech.EPL.realty.dto.YearsStatGuBuying">
		SELECT 
			* 
		FROM 
			EPL_SEOUL.REALTY_BUYING_AVG
		WHERE 
			BLDG_USG = '오피스텔'
		AND RCPT_YR > '2010'
		GROUP BY 
			RCPT_YR, CGG_NM
		ORDER BY 
			CGG_NM, RCPT_YR, BLDG_USG
	</select>
	
	<!--  -->
	<select id="getYearsRentApt" resultType="com.tech.EPL.realty.dto.YearsStatGuRent">
		SELECT 
			* 
		FROM 
			EPL_SEOUL.REALTY_RENT_AVG
		WHERE 
			BLDG_USG = '아파트'
		GROUP BY 
			RCPT_YR, CGG_NM
		ORDER BY 
			CGG_NM, RCPT_YR, BLDG_USG
	</select>
	<select id="getYearsRentSingle" resultType="com.tech.EPL.realty.dto.YearsStatGuRent">
		SELECT 
			* 
		FROM 
			EPL_SEOUL.REALTY_RENT_AVG
		WHERE 
			BLDG_USG = '단독다가구'
		GROUP BY 
			RCPT_YR, CGG_NM
		ORDER BY 
			CGG_NM, RCPT_YR, BLDG_USG
	</select>
	<select id="getYearsRentMulti" resultType="com.tech.EPL.realty.dto.YearsStatGuRent">
		SELECT 
			* 
		FROM 
			EPL_SEOUL.REALTY_RENT_AVG
		WHERE 
			BLDG_USG = '연립다세대'
		GROUP BY 
			RCPT_YR, CGG_NM
		ORDER BY 
			CGG_NM, RCPT_YR, BLDG_USG
	</select>
	<select id="getYearsRentOffice" resultType="com.tech.EPL.realty.dto.YearsStatGuRent">
		SELECT 
			* 
		FROM 
			EPL_SEOUL.REALTY_RENT_AVG
		WHERE 
			BLDG_USG = '오피스텔'
		GROUP BY 
			RCPT_YR, CGG_NM
		ORDER BY 
			CGG_NM, RCPT_YR, BLDG_USG
	</select>
	
	<!--  -->
	<select id="getYearsJeonseApt" resultType="com.tech.EPL.realty.dto.YearsStatGuJeonse">
		SELECT 
			* 
		FROM 
			EPL_SEOUL.REALTY_JEONSE_AVG
		WHERE 
			BLDG_USG = '아파트'
		GROUP BY 
			RCPT_YR, CGG_NM
		ORDER BY 
			CGG_NM, RCPT_YR, BLDG_USG
	</select>
	<select id="getYearsJeonseSingle" resultType="com.tech.EPL.realty.dto.YearsStatGuJeonse">
		SELECT 
			* 
		FROM 
			EPL_SEOUL.REALTY_JEONSE_AVG
		WHERE 
			BLDG_USG = '단독다가구'
		GROUP BY 
			RCPT_YR, CGG_NM
		ORDER BY 
			CGG_NM, RCPT_YR, BLDG_USG
	</select>
	<select id="getYearsJeonseMulti" resultType="com.tech.EPL.realty.dto.YearsStatGuJeonse">
		SELECT 
			* 
		FROM 
			EPL_SEOUL.REALTY_JEONSE_AVG
		WHERE 
			BLDG_USG = '연립다세대'
		GROUP BY 
			RCPT_YR, CGG_NM
		ORDER BY 
			CGG_NM, RCPT_YR, BLDG_USG
	</select>
	<select id="getYearsJeonseOffice" resultType="com.tech.EPL.realty.dto.YearsStatGuJeonse">
		SELECT 
			* 
		FROM 
			EPL_SEOUL.REALTY_JEONSE_AVG
		WHERE 
			BLDG_USG = '오피스텔'
		GROUP BY 
			RCPT_YR, CGG_NM
		ORDER BY 
			CGG_NM, RCPT_YR, BLDG_USG
	</select>
</mapper>