<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.tech.EPL.realty.mapper.RealtyMapper">
	<!-- 년도별 매매 실거래가 -->
	<select id="getYearsStatBuying" resultType="com.tech.EPL.realty.dto.YearsStatBuying">
		SELECT 
			RCPT_YR, BLDG_USG, 
			MAX_THING_AMT, 
			MIN_THING_AMT, 
			AVG_THING_AMT, 
			COUNT(*) as COUNT_ALL
		FROM 
			EPL_SEOUL.REALTY_BUYING_AVG
		WHERE 
			RCPT_YR > '2010'
		GROUP BY 
			RCPT_YR, BLDG_USG
		ORDER BY 
			RCPT_YR ASC,
			BLDG_USG DESC
	</select>
	<!-- 년도별 월세 실거래가 -->
	<select id="getYearsStatRent" resultType="com.tech.EPL.realty.dto.YearsStatRent">
		SELECT 
			RCPT_YR, BLDG_USG, 
			MAX_GRFE, MIN_GRFE, AVG_GRFE, 
			MAX_RTFE, MIN_RTFE, AVG_RTFE, 
			COUNT(*) as COUNT_ALL 
		FROM 
			EPL_SEOUL.REALTY_RENT_AVG
		GROUP BY
			RCPT_YR, BLDG_USG
		ORDER BY 
			RCPT_YR ASC,
			BLDG_USG DESC
	</select>
	<!-- 년도별 전세 실거래가 -->
	<select id="getYearsStatJeonse" resultType="com.tech.EPL.realty.dto.YearsStatJeonse">
		SELECT 
			RCPT_YR, BLDG_USG, 
			MAX_GRFE, MIN_GRFE, AVG_GRFE, 
			COUNT(*) as COUNT_ALL 
		FROM 
			EPL_SEOUL.REALTY_JEONSE_AVG
		GROUP BY 
			RCPT_YR, BLDG_USG
		ORDER BY 
			RCPT_YR ASC,
			BLDG_USG DESC
	</select>
	
	<!-- 구별 매매 실거래가 -->
	<select id="getGuAvgBuying" resultType="com.tech.EPL.realty.dto.GuStatBuying">
		SELECT 
			CGG_NM, 
		    MAX(MAX_THING_AMT) as MAX_THING_AMT, 
		    MIN(MIN_THING_AMT) as MIN_THING_AMT, 
		    ROUND(AVG(AVG_THING_AMT), 0) as AVG_THING_AMT, 
		    COUNT(*) as COUNT_ALL 
		FROM 
			EPL_SEOUL.REALTY_BUYING_AVG
		WHERE 
			RCPT_YR > '2020'
		GROUP BY 
			CGG_NM
		ORDER BY 
			CGG_NM ASC
	</select>
	<!-- 구별 월세 실거래가 -->
	<select id="getGuAvgRent" resultType="com.tech.EPL.realty.dto.GuStatRent">
		SELECT 
			CGG_NM, 
		    MAX(MAX_GRFE) as MAX_GRFE, 
		    MIN(MIN_GRFE) as MIN_GRFE, 
		    ROUND(AVG(AVG_GRFE), 0) as AVG_GRFE,
		    MAX(MAX_RTFE) as MAX_RTFE, 
		    MIN(MIN_RTFE) as MIN_RTFE, 
		    ROUND(AVG(AVG_RTFE), 0) as AVG_RTFE, 
		    COUNT(*) as COUNT_ALL 
		FROM 
			EPL_SEOUL.REALTY_RENT_AVG
		WHERE 
			RCPT_YR > '2020'
		AND	MIN_GRFE > 0
		AND MIN_RTFE > 0
		GROUP BY 
			CGG_NM
		ORDER BY 
			CGG_NM ASC
	</select>
	<!-- 구별 전세 실거래가 -->
	<select id="getGuAvgJeonse" resultType="com.tech.EPL.realty.dto.GuStatJeonse">
		SELECT 
			CGG_NM, 
		    MAX(MAX_GRFE) as MAX_GRFE, 
		    MIN(MIN_GRFE) as MIN_GRFE, 
		    ROUND(AVG(AVG_GRFE), 0) as AVG_GRFE, 
		    COUNT(*) as COUNT_ALL 
		FROM 
			EPL_SEOUL.REALTY_JEONSE_AVG
		GROUP BY 
			CGG_NM
		ORDER BY 
			CGG_NM ASC
	</select>

</mapper>