@charset "UTF-8";

/* 사용 안하는 사이드바 */
#epl_side {
	display: none;
}

/* 데이트 탭 설명 세션 최초 1회 */
.expContainer {
	display: none;
}

.expContainer.active {
	display: block;
	width: 100%;
	height: 800px;
	background-image: url("/static/images/date/dateExp.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center center;
}

#expSubmit {
	width: 20%;
	height: 50px;
	margin-top: 700px;
	margin-right: 250px;
	float: right;
	border-radius: 15px;
	border: none;
	font: bold;
	font-size: 25px;
	color: white;
	background-color: #73A3FF;
}

#expSubmit:hover{
	cursor: pointer;
	background-color: #007bff;
}

/* 서울 지도 */
.seoulMap {
	display: none;
}

.seoulMap h1{
	margin-left: 250px;
}

.seoulMap.active {
	display: block;
	width: 100%;
	height: 800px;
	text-align: center;
}

#seoulSvg {
	width: 100%;
	height: 700px;
	transition: width 0.5s ease; /* 크기 변화를 부드럽게 */
}

/* 사이드바 */
.mapSide {
	width: 40%;
	height: 650px;
	float: right;
	transform: translateX(100%); /* 오른쪽으로 완전히 밀려남 */
	transition: opacity 0.5s ease, transform 0.5s ease; /* 애니메이션 설정 */
	border: 1px solid black;
	border-radius: 15px;
	text-align: center;
}

.mapSide.active {
	display: block; /* 활성화 시 표시 */
	opacity: 1; /* 투명도 해제 */
	transform: translateX(0); /* 원래 위치로 이동 */
}

#districtImg {
	margin: 0 auto;
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: cover;
	background-size: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#districtSlogan {
	font-size: 20px;
	font-style: italic;
	color: gray;
	margin-top: 5px;
	margin-bottom: 0px;
}

#districtName {
	font-style: bold;
	font-size: 35px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.memoDiv {
	float: right;
	width: 45%;
	height: 250px;
	margin-right: 20px;
}

#districtMemo {
	margin-top: 55px;
	float: left;
	font-size: 20px;
	font: bold;
	min-height: 120px;
}

.landmarkDiv {
	float: left;
	width: 45%;
	height: 250px;
	margin-left: 20px;
	text-align: left;
}

#landmark {
	margin-top: 10px;
	margin-bottom: 10px;
	font: bold;
	font-size: 25px;
	margin-left: 10px;
}

#landmarkImg {
	width: 100%;
	height: 185px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: cover;
	background-size: 100%;
	border-radius: 10px;
}

#distSubmit {
	width: 90%;
	height: 40px;
	background-color: #73A3FF;
	border: none;
	font-size: 20px;
	color: white;
	font: bold;
	border-radius: 10px;
	cursor: pointer;
}

#distSubmit:hover {
	background-color: #007bff;
}

/* 데이트 취향선택 */
.liking {
	width: 60%;
	height: 770px;
	margin: 0 auto;
	text-align: center;
}

#likeStatic {
	width: 40%;
	background-color: #73A3FF;
	float: left;
	height: 600px;
	border-radius: 20px;
	color: white;
}

#likeDynamic {
	width: 40%;
	background-color: #73A3FF;
	float: right;
	height: 600px;
	border-radius: 20px;
	color: white;
}

#likeStatic:hover, #likeDynamic:hover {
	background-color: #007bff;
	cursor: pointer;
}

.likeTop {
	text-align: left;
	padding-left: 40px;
	padding-top: 20px;
	height: 50%;
}

.likeBottom {
	text-align: left;;
	padding-left: 40px;
	height: 50%;
}

/* 장소 리스트업 */
.filterDiv {
	text-align: center;
	margin: 0 auto;
	width: 50%;
}

#changeDist{
	width: 15%;
	background-color: #73A3FF;
	float: left;
	height: 50px;
	border: none;
	border-radius: 30px;
	color: white;
	font: bold;
	font-size: 20px;
}

#changeDist:hover{
	cursor: pointer;
	background-color: #007bff;
}

#viewCourse {
	background-image: url("/static/images/date/carIcon.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 50px;
	height: 50px;
	float: right;
	border: none;
	border-radius: 30px;
}

#courseCount{
	width: 50%;
	height: 50%;
	background-color: white;
	border: 0.5px solid black;
	border-radius: 50%;
	margin-top: 30px;
	margin-left: -10px;
	text-align: center;
	font-size: 20px;
	font: bold;
}

#viewCourse:hover{
	background-color: #007bff;
	cursor: pointer;
	transform: translateY(-5px); /* 약간 위로 튀어나오게 함 */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

.filterButtonLeft {
	width: 50%;
	height: 50px;
	float: left;
	border: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	background-color: #73A3FF;
	font-size: 25px;
	font: bold;
	color: white;
}

.filterButtonRight {
	width: 50%;
	height: 50px;
	float: right;
	border: none;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	background-color: #73A3FF;
	font-size: 25px;
	font: bold;
	color: white;
}

.filterButtonLeft:hover, .filterButtonRight:hover {
	background-color: #007bff;
}

.filterButtonLeft.active, .filterButtonRight.active {
	background-color: #007bff;
}

.SubFilter {
	margin: 0 auto;
	margin-top: 50px;
	height: 30px;
	width: 100%;
	text-align: center;
}

#searchFilter {
	width: 10%;
	font: bold;
	font-size: 17px;
	border-radius: 15px;
	height: 100%;
}

#searchInput {
	width: 20%;
	font: bold;
	font-size: 17px;
	border-radius: 15px;
	height: 100%;
	border: 1px solid black;
	padding-left: 5px;
}

#searchSubmit {
	width: 7%;
	font-size: 17px;
	border-radius: 10px;
	border: none;
	background-color: #73A3FF;
	color: white;
	font: bold;
	height: 30px;
}

#searchSubmit:hover {
	background-color: #007bff;
	cursor: pointer;
}

.restaurantFilter {
	width: 7%;
	border-radius: 10px;
	font: bold;
	font-size: 17px;
	border: none;
	background-color: #73A3FF;
	color: white;
	height: 30px;
	margin-top: 10px;
}

.restaurantFilter:hover {
	background-color: #007bff;
}

.listUp {
	width: 70%;
	height: 620px;
	margin: 0 auto;
	overflow: auto;
	margin-top: 70px;
	text-align: center;
}

.listUp.active {
	float: left;
}

.listUp::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

#listTable {
	border-collapse: separate;
	border-spacing: 0 10px; /* 행 간격 */
	width: 90%;
	margin: 0 auto;
}

#listTable tr {
	border: 2px solid #73A3FF;
	display: block;
	border-radius: 20px; /* 라운드 처리 */
	margin-bottom: 40px;
	height: 80px;
	font-size: 17px;
	transition: all 0.3s ease; /* 부드러운 전환 효과 */
}

#listTable td {
	display: inline-block; /* td를 블록으로 전환 */
	text-align: left;
	margin-top: 25px;
}

#listTable tr:hover {
	transform: translateY(-5px); /* 약간 위로 튀어나오게 함 */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
	background-color: #f9f9f9; /* 배경색 변경 (선택사항) */
	cursor: pointer;
}

#listTable #sizeTag {
	width: 7%;
	float: left;
	background-color: blue;
	text-align: center;
	font: bold;
	border-radius: 20px;
	border: none;
	color: white;
	margin-right: 20px;
}

#listTable #newTag {
	width: 7%;
	float: left;
	background-color: lime;
	text-align: center;
	font: bold;
	border-radius: 20px;
	border: none;
	color: white;
}

.restaurantSide {
	float: right;
	width: 25%;
	height: 700px;
	border-radius: 15px;
	border: 2px solid #73A3FF;
}

#restaurantImg {
	width: 100%;
	height: 250px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
}

#restaurantImg img {
	height: 250px;
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#restaurantInfo {
	width: 100%;
	height: 100px;
	margin-bottom: 0px;
}

#restaurantSideName {
	margin-top: 20px;
	width: 90%;
	font-size: 25px;
	font: bold;
	text-align: left;
	padding-left: 10px;
}

#restaurantSideRate {
	display: flex;
	align-items: left;
	padding-left: 10px;
	font-size: 20px;
}

.star {
	font-size: 25px;
	color: #FFD700; /* 별 색상 (금색) */
	display: inline-block;
	margin: 0 2px;
}

/* 채워진 별 (금색) */
.star.full {
	color: #FFD700;
}

/* 빈 별 (회색) */
.star.empty {
	color: #ddd;
}

/* 반별 (금색으로 반만 채우기) */
.star.half {
	color: #ddd;
	position: relative;
}

.star.half::after {
	content: '\2605'; /* 별 문자 */
	color: #FFD700; /* 반별은 회색 */
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	overflow: hidden;
}

#restaurantMap {
	margin-top: 0px;
	width: 100%;
	height: 260px;
}

#restaurantSubmit {
	width: 100%;
	height: 70px;
	background-color: #73A3FF;
	color: white;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 2px solid #73A3FF;
	font-size: 20px;
}

#restaurantSubmit:hover {
	background-color: #007bff;
	cursor: pointer;
}

#activityMap{
	width: 100%;
	margin-top: 50px;
	height: 700px;
	float: left;
}

#activitySide{
	float: right;
	margin-top: 50px;
	width: 25%;
	height: 700px;
	border-radius: 15px;
	border: 2px solid #73A3FF;
}

#activityImg{
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: gray;
	height: 300px;
}

#activityImg img{
	height: 300px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#activitySideName {
	margin-top: 20px;
	width: 90%;
	font-size: 25px;
	font: bold;
	text-align: left;
	padding-left: 10px;
	margin-bottom: 0px;
}

#activityWebsite{
	margin-top: 20px;
	width: 90%;
	font-size: 20px;
	font: bold;
	color: #73A3FF;
	text-align: left;
	padding-left: 10px;
	text-decoration: none;
	height: 190px;
}

#activityCategory{
	margin-top: 10px;
	width: 90%;
	font-size: 18px;
	font: bold;
	padding-left: 10px;
}

#activitySideRating{
	display: flex;
	align-items: left;
	padding-left: 10px;
	font-size: 20px;
}

#activityAddress{
	width: 90%;
	padding: 10px;
	float: left;
	font: bold;
	font-size: 17px;
	height: 80px;
}

#activitySubmit {
	width: 100%;
	height: 70px;
	background-color: #73A3FF;
	color: white;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 2px solid #73A3FF;
	font-size: 20px;
}

#activitySubmit:hover {
	background-color: #007bff;
	cursor: pointer;
}

.navigationContainer{
	width: 100%;
	height: 800px;
}

#naviSide{
	width: 30%;
	float: left;
	height: 800px;
}

#showlocalList{
	width: 20%;
	height: 40px;
	float: left;
	font: bold;
	font-size: 25px;
	background-color: #73A3FF;
	color: white;
	border-radius: 15px;
	border: none;
	margin-bottom: 0px;
}

#showlocalList:hover{
	background-color: #007bff;
	cursor: pointer;
}

#courseListDiv{
	margin-top: 50px;
	width: 100%;
	height: 650px;
	border: 1px solid #73A3FF;
}

#navi{
	width: 65%;
	float: right;
	height: 800px;
}

#courseList {
    display: flex;
    flex-direction: column;
    gap: 10px;  
}

.course-item {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: grab;
    height: 50px;
    font: bold;
    font-size: 25px;
    padding-top: 20px;
}

#startAddress{
	width: 72%;
	float: right;
	height: 35px;
	font: bold;
	font-size: 20px;
	border-radius: 15px;
	border: 1px solid #73A3FF;
}

#submitCourse {
	width: 47%;
	float: left;
	background-color: #73A3FF;
	border: none;
	border-radius: 15px;
	font: bold;
	font-size: 25px;
	color: white;
	margin-top: 50px;
	height: 50px;
}

#shareButton {
	width: 47%;
	float: right;
	background-color: #73A3FF;
	border: none;
	border-radius: 15px;
	font: bold;
	font-size: 25px;
	color: white;
	margin-top: 50px;
	height: 50px;
}

#submitCourse:hover, #shareButton:hover{
	background-color: #007bff;
	cursor: pointer;
}

.course-item:active {
    cursor: grabbing;
}

.course-item.dragging {
    opacity: 0.5;
    border: 2px dashed #999;
}